In [0]:
import requests
import bs4
from bs4 import BeautifulSoup
from requests_oauthlib import OAuth1
import pandas as pd

In [0]:
auth_params = {
    'app_key':'DdKKMDnqhxYDgAS1KyyR3FQJL',
    'app_secret':'7BYKOLA1JHLcRqNQe3aBaofXLGScCYH0AgiFOmMURwgv3aoYgN',
    'oauth_token':'1114574275489476608-2T6ZUF22mlGvKtHj1EQa5I4J2VhwTh',
    'oauth_token_secret':'e3S4B4qf00kQ634GnL7ut33Luxly5eBNxpOns6sL9kqC7'
}

# Creating an OAuth Client connection
auth = OAuth1 (
    auth_params['app_key'],
    auth_params['app_secret'],
    auth_params['oauth_token'],
    auth_params['oauth_token_secret']
)

In [0]:
# url according to twitter API
url_rest = "https://api.twitter.com/1.1/search/tweets.json"

# getting rid of retweets in the extraction results and filtering all replies to the tweet
q = '%@midasIIITD -filter:retweets -filter:replies'

# count : no of tweets to be retrieved per one call and parameters according to twitter API
params = {'q': q, 'lang': 'en',  'result_type': 'recent'}
results = requests.get(url_rest, params=params, auth=auth)

In [0]:
tweets = results.json()

In [0]:
l = []
for i in range(len(tweets['statuses'])):
  temp = []
  temp.append(BeautifulSoup(tweets['statuses'][i]['text'], 'html5lib').get_text())
  temp.append(tweets['statuses'][i]['created_at'])
  temp.append(tweets['statuses'][i]['favorite_count'])
  temp.append(tweets['statuses'][i]['retweet_count'])
  if 'media' in tweets['statuses'][i]['entities'].keys():
    temp.append(len(tweets['statuses'][i]['entities']['media']))
  else:
    temp.append(None)
  l.append(temp)

data = pd.DataFrame(l, columns = ('Text', 'Data and Time of Tweet', 'Number of Favorites/Likes', 'Number of Retweets', 'Number of Images present in Tweet'))
data

,Text,Data and Time of Tweet,Number of Favorites/Likes,Number of Retweets,Number of Images present in Tweet
0,We have emailed the task details to all candid...,Fri Apr 05 16:08:37 +0000 2019,8,1,None
1,Dear @midasIIITD internship candidates who hav...,Tue Apr 02 04:20:13 +0000 2019,8,1,None
2,Looking forward to your paper submission to @I...,Tue Apr 02 02:44:54 +0000 2019,5,1,None
3,Online application for https://t.co/DJFDrQsHZP...,Mon Apr 01 06:53:08 +0000 2019,7,2,None
4,Thanks for the support and help @debanjanbhucs...,Fri Mar 29 18:45:35 +0000 2019,7,2,None
5,"Congratulations! @midasIIITD team, @isarth23 @...",Fri Mar 29 17:02:24 +0000 2019,9,1,None
6,Our work (@midasIIITD ) accepted at SemEval 20...,Fri Mar 29 16:58:43 +0000 2019,6,1,None