**Importing Required Libraries**

In [0]:
import requests
from requests_oauthlib import OAuth1
import pandas as pd
from datetime import datetime
import json

**Using Twitter API**

Entering twitter API token values and creating auth parameter to be passed while making request

In [0]:
auth_params = {
    'app_key':'DdKKMDnqhxYDgAS1KyyR3FQJL',
    'app_secret':'7BYKOLA1JHLcRqNQe3aBaofXLGScCYH0AgiFOmMURwgv3aoYgN',
    'oauth_token':'1114574275489476608-2T6ZUF22mlGvKtHj1EQa5I4J2VhwTh',
    'oauth_token_secret':'e3S4B4qf00kQ634GnL7ut33Luxly5eBNxpOns6sL9kqC7'
}

# Creating an OAuth Client connection
auth = OAuth1 (
    auth_params['app_key'],
    auth_params['app_secret'],
    auth_params['oauth_token'],
    auth_params['oauth_token_secret']
)

**Making the request to the url**

In [0]:
# url according to twitter API
url_rest = "https://api.twitter.com/1.1/search/tweets.json"

# getting rid of retweets in the extraction results and filtering all replies to the tweet
q = '%@midasIIITD -filter:retweets -filter:replies'

params = {'q': q, 'lang': 'en',  'result_type': 'recent'}
results = requests.get(url_rest, params=params, auth=auth)

**Dumping results into a jsonlines file**

In [0]:
tweets = results.json()

In [0]:
# These few lines dummp the tweet data into a jsonl file named 'twitter.jsonl'
with open('twitter.jsonl', 'w') as dumpdata:
  for i in tweets['statuses']:
      json.dump(i, dumpdata)
      dumpdata.write('\n')

**Parsing jsonl file**

In [0]:
#reading the jsonl file in jsonl_file variable
with open('twitter.jsonl', 'r') as infile:
    jsonl_file = infile.readlines()

In [14]:
# we will traverse through the read jsonl_file

l = [] #empty list
for i in range(len(jsonl_file)):
  
  temp = [] #empty list
  temp.append(json.loads(jsonl_file[i])['text']) # appends text of ith tweet
  temp.append(json.loads(jsonl_file[i])['created_at']) # appends data and time of ith tweet
  temp.append(json.loads(jsonl_file[i])['favorite_count']) # appends number of favourites/likes of ith tweet
  temp.append(json.loads(jsonl_file[i])['retweet_count']) # appends retweet count of ith tweet
  
  count = 0 # initialize number of photos in a tweet to be 0
  
  if 'media' in json.loads(jsonl_file[i])['entities'].keys(): # checks if any of 'media' (photos, videos etc) are present in tweet or not 
    
    for j in json.loads(jsonl_file[i])['entities']['media']:  # traversing through all media elements in ith tweet
      if j['type'] == 'photo':  # checks if media type is a photo
        count += 1 # if media type is a photo, increment count
  
  if count == 0:
    temp.append(None) # appends None if no photos present in tweet
  else:
    temp.append(count) # appends number of photos in ith tweet if > 0
  l.append(temp)

# Put the List (l) into a dataframe and print the dataframe (table)
data = pd.DataFrame(l, columns = ('Text', 'Data and Time of Tweet', 'Number of Favorites/Likes', 'Number of Retweets', 'Number of Images present in Tweet'))
data

,Text,Data and Time of Tweet,Number of Favorites/Likes,Number of Retweets,Number of Images present in Tweet
0,We will close the submission portal for submit...,Wed Apr 10 16:47:25 +0000 2019,2,1,None
1,Clarification: Our earlier post which indicate...,Wed Apr 10 09:01:29 +0000 2019,1,0,None
2,"Many Congratulations to @midasIIITD student, S...",Mon Apr 08 07:08:12 +0000 2019,18,2,None
3,My twitter developer account is taking time to...,Sun Apr 07 13:45:58 +0000 2019,0,0,None
4,We request all students whose interview are sc...,Sun Apr 07 11:43:24 +0000 2019,1,1,None
5,"Other queries: ""none of the Tweeter Apis give ...",Sun Apr 07 06:55:19 +0000 2019,5,2,None
6,"Other queries: ""do we have to make two differe...",Sun Apr 07 06:53:38 +0000 2019,5,1,None
7,"Other queries: ""If using Twitter api, it does ...",Sun Apr 07 05:32:27 +0000 2019,6,1,None
8,Response to some queries asked by students on ...,Sun Apr 07 05:29:40 +0000 2019,7,1,None
9,We have emailed the task details to all candid...,Fri Apr 05 16:08:37 +0000 2019,11,1,None
10,Dear @midasIIITD internship candidates who hav...,Tue Apr 02 04:20:13 +0000 2019,8,1,None
11,Looking forward to your paper submission to @I...,Tue Apr 02 02:44:54 +0000 2019,5,1,None
12,Online application for https://t.co/DJFDrQsHZP...,Mon Apr 01 06:53:08 +0000 2019,7,2,None